@utility flex-center {
	@apply flex items-center justify-center;
}

@utility col-center {
	@apply flex flex-col items-center justify-center;
}

@utility abs-center {
	@apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility glass-bg {
	@apply bg-neutral-800/20 shadow-lg backdrop-blur-lg;
}

@utility card-shadow {
	box-shadow: 4px 4px 0px 0px var(--natural-black);
}

@utility card-border {
	&::before {
		content: "";
		position: absolute;
		inset: 0;
		border-radius: inherit;
		pointer-events: none;
		box-shadow: inset 0 0 0 2px #1d293d;
		z-index: 10;
	}
}

@utility dock-border {
	&::before {
		content: "";
		position: absolute;
		inset: 0;
		border-radius: inherit;
		pointer-events: none;
		box-shadow: inset 0 0 0 1px #45556c;
		z-index: 10;
	}
}

@utility grid-bg {
	background-size: 120px 120px;
	background-image:
		linear-gradient(to right, rgba(70, 70, 70, 0.1) 1px, transparent 1px),
		linear-gradient(to bottom, rgb(70, 70, 70, 0.1) 1px, transparent 1px);
}

@utility noise {
	--lines: 0.0003px;
	--noise-color: rgba(98, 98, 98, 0.1);

	background: repeating-radial-gradient(
		circle at center,
		var(--noise-color),
		var(--lines),
		var(--noise-color),
		var(--lines),
		#0000,
		calc(var(--lines) * 2),
		#0000 0
	);
}
