@import url("https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@import "tailwindcss";

@theme {
	/* fonts */
	--font-georama: "Georama", sans-serif;
	--font-roboto: "Roboto Mono", monospace;

	/* colors */
	--gondola: #240b1a;
	--natural-black: #0b030a;
	--champion-blue: #14152e;
	--pastel-pink: #f4b3d8;
}

@layer base {
	* {
		box-sizing: border-box;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	body,
	main {
		width: 100dvw;
		height: 100dvh;
		margin: 0;
		padding: 0;
	}

	::selection {
		background: var(--pastel-pink);
		color: var(--natural-black);
	}
}

@layer components {
	.viewport-overlay {
		display: flex;
		align-items: center;
		justify-content: center;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 20;
		height: 100dvh;
		width: 100dvw;
		background: linear-gradient(
			45deg,
			var(--gondola),
			var(--natural-black),
			var(--champion-blue)
		);
	}

	.desktop-container {
		width: 736px;
		height: 380px;
		overflow: hidden;
		border: 1px solid #0b030a;
		border-radius: 2px;
		background-image: url("/desktop/lofi-cafe.gif");
		background-repeat: no-repeat;
		background-size: 736px;
	}

	.card-container {
		@apply font-roboto rounded border border-stone-800/50 bg-stone-900/20 font-bold text-stone-200 backdrop-blur-xs;
	}

	.button {
		@apply cursor-pointer rounded border-2 p-2 transition-colors hover:bg-stone-300 hover:text-stone-950 bg-stone-900/20 font-bold text-stone-200 backdrop-blur-xs;

		&.-primary {
			@apply border-stone-300;
		}

		&.-secondary {
			@apply border-stone-800/50 hover:border-stone-300;
		}
	}

	.cursor {
		display: inline-block;
		margin-left: 2px;
		animation: blink 1s steps(1) infinite;
	}

	@keyframes blink {
		50% {
			opacity: 0;
		}
	}

	@media (prefers-reduced-motion: reduce) {
		.cursor {
			animation: none;
		}
	}
}

@utility flex-center {
	@apply flex items-center justify-center;
}

@utility col-center {
	@apply flex flex-col items-center justify-center;
}

@utility abs-center {
	@apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}
